<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/common/common_head :: commonHeader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="/fragments/system_header :: header"></div>
<div class="table-header text-center">
    <h4>受感染的项目列表</h4>
</div>
<table id="tb_departments"></table>

</body>
<!-- javascipt-->
<script type="text/javascript">

    $(function () {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();
    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable('destroy');
            $("#tb_departments").bootstrapTable({
                url: "/project/getAffectedPageList",         //请求后台的URL（*）
                method: "get",                      //请求方式（*）
                toolbar: "#toolbar",                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 15, 20],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                formatLoadingMessage: function () {     //加载数据提示语
                    // return "请稍等......";
                    return "";
                },
                formatNoMatches: function () {
                    return "没有相关的匹配结果";
                },
                columns: [{
                    checkbox: true,
                    visible: false
                }, {
                    field: "projectName",
                    title: "仓库名称",
                    formatter: function (value, row, index) {
                        var a = "";
                        a = "<span style='color:#007bff'>"+value+"</span>";
                        return a;
                    }
                }, {
                    field: "authorName",
                    title: "创建用户"
                },{
                    field: "platform",
                    title: "所属平台"
                },{
                    field: "codeType",
                    title: "语言类型",
                    formatter: function (value, row, index) {
                        var a = "";
                        if(value == 'Java'){
                            a = "<span class='label label-success'>Java语言</span>";
                        }else if(value == 'C_C++'){
                            a = "<span class='label label-primary'>C_C++语言</span>";
                        }
                        return a;
                    }
                },{
                    field: "projectFileNumber",
                    title: "源文件数量"
                },{
                    field: "totalFlawNumbers",
                    title: "感染漏洞数",
                    formatter: function (value, row, index) {
                        var a = "";
                        a = "<span class='badge'>"+value+"</span>";
                        return a;
                    }
                },{
                    field: "state",
                    title: "状态",
                    formatter: function (value, row, index) {
                        var a = "";
                        if(value == 2){
                            a = "<span class='label label-success'>有效</span>";
                        }else if(value == 1){
                            a = "<span class='label label-warning'>删除</span>";
                        }else a = "<span class='label '>无效</span>";
                        return a;
                    }
                },]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                page: (params.offset / params.limit) + 1,   //当前页码

            };
            return temp;
        };
        return oTableInit;
    };


</script>
</html>