<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/common/common_head :: commonHeader">
    <meta charset="UTF-8">
    <title>全文搜索</title>
</head>
<body>

<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">全文搜索</div>
        <div class="panel-body">
            <div class="container">
                <!--<fieldset>-->
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="col-md-5 text">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label text">语言</label>
                                        <div class="col-sm-6 input-group">
                                            <select id="index" name="index" class="form-control">
                                                <option value=0>C</option>
                                                <option value=1>C++</option>
                                                <option value=2>C#</option>
                                                <option value=3>Java</option>
                                                <option value=4>JavaScript</option>
                                                <option value=5>Python</option>
                                                <option value=6>Ruby</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 text">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label text">搜索类型</label>
                                        <div class="col-sm-6 input-group">
                                            <select id="type" name="type" class="form-control">
                                                <option value=0>模糊匹配</option>
                                                <option value=1>正则式匹配</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="请输入关键字或正则表达式" id="keyWord">
                                <span class="input-group-addon btn btn-primary" id="search_btn">搜索</span>
                            </div>
                        </div>
                    </div>
                <!--</fieldset>-->
            </div>
        </div>
    </div>

    <table id="tb_departments"></table>
</div>
</body>
<!-- javascipt-->
<script type="text/javascript">

    $(function () {
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });

    var TableInit = function () {
        // alert('tableInit');
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable('destroy');
            $("#tb_departments").bootstrapTable({
                url: "/es/matchQuery",         //请求后台的URL（*）
                method: "get",                      //请求方式（*）
                // toolbar: "#toolbar",                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                pageList: [5,10,20],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                formatLoadingMessage: function(){     //加载数据提示语
                    return "查询中......";
                    // return "";
                },
                formatNoMatches: function(){
                    return "没有相关的匹配结果";
                },
                columns: [{
                    checkbox: true,
                    visible: false
                }, {
                    // field: "id",
                    formatter: function (value,row,index) {
                        var html = "<div class='form-inline'>"+
                            "<div class='form-group' style='margin-right: 100px;color: #007bff;'>"+row['user_filename']+"</div>"+
                            "<div class='form-group'><div><div class='point point-lg point-primary '></div>"+row['language']+"</div></div>"+
                            "</div>"+
                            "<br><pre class='prettyprint linenums'>"+row['highlight']+"</pre>"
                        ;
                        return html;
                    }
                    // title: "id"
                }, ]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                index: $("#index").val(),  //索引
                type: $("#type").val(),  //搜索类型
                keyWord: $("#keyWord").val()  //关键字
            };
            return temp;
        };
        return oTableInit;
    };

    var ButtonInit = function () {

        $('#search_btn').click(function() {

            var oTable = new TableInit();
            oTable.Init();
        });

    };

</script>

</html>