<!DOCTYPE html>
<html xmlns:miguo="http://www.w3.org/1999/html">
<!-- 引入头部 -->
<header>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title></title>
        <link href="/assets/images/favicon.ico" rel="icon">
        <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
        <link rel="stylesheet" href="/assets/module/admin.css?v=318"/>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
        <script type="text/javascript" src="/assets/js/common.js?v=318"></script>
        <script type="text/javascript">
            var url = window.location.pathname.substring(1);
            //alert(url);
            var item = url.split("/");
            var C = item[0];
            var A = item[1];
            var cUrl = "/" + C;
        </script>
    </head>
</header>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 内容区 -->
        <div class="layui-card-body">

            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="username" placeholder="请输入登陆账号或账号名" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <!-- 索引下拉单选 -->
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <!-- 下拉单选 -->
                            <select name="loginType" id="loginType"  lay-verify="" lay-search="" lay-filter="status" class="layui-input">
                                <option value=''>【请选择类型】</option>
                                <option value='0'>登陆系统</option>
                                <option value='1'>退出系统</option>
                            </select>
                        </div>
                    </div>

                    <!-- 索引下拉单选 -->
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <!-- 下拉单选 -->
                            <select name="result" id="result"  lay-verify="" lay-search="" lay-filter="status" class="layui-input">
                                <option value=''>【请选择结果】</option>
                                <option value='0'>成功</option>
                                <option value='1'>失败</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: auto;">
                            <button class="layui-btn" lay-submit="" lay-filter="searchForm" id="search"><i
                                    class="layui-icon">&#xe615;</i>查询
                            </button>
                            <a href="javascript:"
                               class="layui-btn btnOption layui-btn-danger layui-btn-small btnBatchDrop" id="batchDrop"
                               data-param="[]" lay-event="batchDrop"><i
                                    class="layui-icon layui-icon-delete"></i>批量删除</a>
                        </div>
                    </div>
                </div>
            </form>

            <!-- 数据表格 -->
            <table class="layui-hide" id="tableList" lay-filter="tableList"></table>

            <!-- 表格操作列 -->
            <script type="text/html" id="toolBar">
                <a class="layui-btn layui-btn-danger layui-btn-xs btnDel" lay-event="del" title="删除"><i
                        class="layui-icon">&#xe630;</i>删除</a>
            </script>
<!--            &lt;!&ndash; 状态 &ndash;&gt;-->
<!--            <script type="text/html" id="statusTpl">-->
<!--                <input type="checkbox" name="status" value="{{ d.id }}" lay-skin="switch" lay-text="正常|禁用"-->
<!--                       lay-filter="status" {{ d.status== 0 ? 'checked' : '' }} >-->
<!--            </script>-->
        </div>
    </div>
</div>
<!-- 引入脚部 -->
<footer>
    <!-- JS部分 -->
    <script type="text/javascript">
        var url = window.location.pathname.substring(1);
        var item = url.split("/");
        var jsUrl = "/module/javaweb_" + item[0] + ".js";
        document.write("<script src='" + jsUrl + "'><\/script>");
    </script>
</footer>
</body>
</html>