<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHeader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="/login/css/style.default.css" id="theme-stylesheet">

    <link href="/demo/bootstrap-table/css/bootstrap-table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/demo/bootstrap-table/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/mycss/point.css"/>
    <link rel="stylesheet" href="/mycss/text.css"/>

    <!-- JavaScript files-->
    <script src="/assets/js/ShowTips.js"></script>
    <script src="/assets/js/front.js"></script>

    <!--引入bootstrap-table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/demo/bootstrap-table/js/bootstrap.min.js"></script>
    <script src="/demo/bootstrap-table/js/bootstrap-table.js"></script>
    <script src="/demo/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
    <script src="/demo/bootstrap-table/js/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
    <title></title>
</head>

</html>