<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/common/common_head :: commonHeader">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ShowTips.js"></script>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/success" target="_top">基于代码分析的软件漏洞传播分析系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <!--<th:if test="${not empty user.username}">-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            漏洞检测结果分析<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{'/index/success'}">开源软件检测结果</a></li>
                            <li><a th:href="@{'/flaw/flawPageList'}">漏洞检测结果</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            检测图谱分析<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/echart/project">开源软件检测图表分析</a></li>
                            <li><a href="/echart/flaw">漏洞检测图表分析</a></li>
                            <li><a href="/echart/scatter">检测散点图</a></li>
                        </ul>
                    </li>
                    <form class="nav navbar-form navbar-left">

                        <a href="/project/search" type="button" class="btn btn-default">搜索</a>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" th:text="${session.user.username}">
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <p th:if="${session.user.username == 'admin'}">
                            <li><a href="/sys/admin/index">系统管理</a></li>
                            </p>
                            <li><a href="/index/logout">注销</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>

    </nav>
</header>
</body>
</html>