<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHeader">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/mycss/point.css"/>
    <link rel="stylesheet" href="/mycss/text.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ShowTips.js"></script>

    <!-- 引入bootstrap-table -->
    <link href="/css/bootstrap-table.css" rel="stylesheet"/>
    <script src="/css/bootstrap-table.js"></script>
    <script src="/css/bootstrap-table-zh-CN.js"></script>
    <script src="/css/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>

    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/index.js"></script>
    <title></title>
</head>
</html>